<strong>Olá, {{name}}</strong>
<p>Parabéns, temos um novo inscrito para o evento {{title}} do dia {{date}},
  confira os detalhes:</p>
<p>
  <strong>Nome do participante:</strong> {{subscriber}}<br />
  <strong>Email:</strong> {{email}}<br />
</p>
